[Unit]
Description=DiepXuan personal service
After=network-online.target network.target

[Service]
ExecStart=ductn service
# User=ductn

# Kill root process
KillMode=process
KillSignal=SIGTERM

# Wait up to 30 minutes for service to start/stop
TimeoutSec=1min

# Remove process, file, thread limits
LimitNPROC=infinity
LimitNOFILE=infinity
TasksMax=infinity
UMask=007
# Restart on non-successful exits.
Restart=on-failure

# Don't restart if we've restarted more than 10 times in 1 minute.
StartLimitInterval=60
StartLimitBurst=10

RestartSec=10s
# Type=notify
# SyslogIdentifier=Diskutilization

[Install]
WantedBy=multi-user.target
Alias=ductnd.service
