[submodule "src/diepxuan/management"]
	path = src/diepxuan/management
	url = https://github.com/diepxuan/management.git
[submodule "src/github"]
	path = src/github
	url = https://github.com/diepxuan/.github.git
[submodule "src/diepxuan/runkit7"]
	path = src/diepxuan/runkit7
	url = https://github.com/diepxuan/runkit7.git
[submodule "src/diepxuan/php-ext"]
	path = src/diepxuan/php-ext
	url = https://github.com/diepxuan/php-ext.git
