[submodule "src/diepxuan/php-sqlsrv"]
	path = src/diepxuan/php-sqlsrv
	url = https://github.com/diepxuan/php-sqlsrv.git
[submodule "src/diepxuan/php-pdo_sqlsrv"]
	path = src/diepxuan/php-pdo_sqlsrv
	url = https://github.com/diepxuan/php-pdo_sqlsrv.git
[submodule "src/diepxuan/php-runkit7"]
	path = src/diepxuan/php-runkit7
	url = https://github.com/diepxuan/php-runkit7.git
[submodule "src/diepxuan/management"]
	path = src/diepxuan/management
	url = https://github.com/diepxuan/management.git
[submodule "src/github"]
	path = src/github
	url = https://github.com/diepxuan/.github.git
