Source: ductn
Priority: optional
Maintainer: Tran Ngoc Duc <ductn@diepxuan.com>
Build-Depends: debhelper-compat (= 12)
Section: devel
Standards-Version: 3.0.1ppa1-1
Homepage: https://ppa.diepxuan.com
#Vcs-Git: git://git.debian.org/collab-maint/ductn.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/ductn.git;a=summary

Package: ductn
Architecture: any
Depends: ${misc:Depends},
  net-tools, jq, curl, bash-completion, openssl, unzip,
  apt-transport-https, sudo, dnsutils
Description: DiepXuan super package
  Private package for DiepXuan Co.,Ltd
  Building by Tran Ngoc Duc
