[Unit]
Description=DiepXuan personal service
After=network-online.target network.target

[Service]
ExecStart=/usr/bin/ductn service

# --- Logging ---
StandardOutput=append:/var/log/ductnd/ductnd.log
StandardError=append:/var/log/ductnd/ductnd.log

# --- Process control ---
KillMode=process
KillSignal=SIGTERM
TimeoutStopSec=1min

# --- Restart policy ---
Restart=on-failure
RestartSec=10s
StartLimitIntervalSec=60
StartLimitBurst=10

# --- Limits ---
LimitNPROC=infinity
LimitNOFILE=infinity
TasksMax=infinity
UMask=007

[Install]
WantedBy=multi-user.target
Alias=ductnd.service
