[mysqld default]

# basic settings
#############################################
character_set_server = utf8
collation_server = utf8_general_ci
auto-increment-offset = 1
innodb_buffer_pool_size=16M
ndb_wait_setup=300

default_authentication_plugin = mysql_native_password

# log settings
#############################################
log_error = /var/log/mysql/error.log
log_bin = /var/log/mysql/mysql-bin.log
# log_error_verbosity = 2
# general_log_file = /var/log/mysql/general.log
# slow_query_log = 1
# slow_query_log_file = slow.log
# log_queries_not_using_indexes = 1
# log_slow_admin_statements = 1
# log_slow_slave_statements = 1
# log_throttle_queries_not_using_indexes = 10
# expire_logs_days = 90
# long_query_time = 2
# min_examined_row_limit = 100
# log-bin-trust-function-creators = 1
log-slave-updates = 1

# replication settings
#############################################
master_info_repository = TABLE
relay_log_info_repository = TABLE
sync_binlog = 1
gtid_mode = on
enforce_gtid_consistency = 1
log_slave_updates
binlog_format = ROW
binlog_rows_query_log_events = 1
relay_log = /var/log/mysql/relay.log
relay_log_recovery = 1
#slave_skip_errors = all
slave_skip_errors = ddl_exist_errors
slave-rows-search-algorithms = 'INDEX_SCAN,HASH_SCAN'

# # cluster settings
# #############################################
# safe-mode=true
# skip-grant-tables
